h1 {
    font-family: $headings-font;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
}

h2 {
    font-family: $headings-font;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
}

h4 {
    font-family: $headings-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-family: $headings-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

h6 {
    font-family: $headings-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}

.large {
    font-family: $body-font;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

p {
    font-family: $body-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.small {
    font-family: $body-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

a {
    font-family: $headings-font;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

.label {
    font-family: $headings-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}